.SettingContent{
    margin-left: 0px;
    margin-bottom: 50px;
}
.ProfileChange{
	text-decoration: underline;
	font-weight: normal;
	font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatarpic{
    display: flex;
    justify-content: center;
    align-items: center;
}