.App {
    display: flex;
    align-items: center;
	width: 100vw;
	min-height: 100vh;
}

.landing {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90vw;
	height: 100vh;
    justify-content: space-around;

}


