.inputImage{
   padding-bottom: 20px;
   padding-left: 80px;
}
.ButtonStyle{
   width:275px;
    height:45px;
    padding:4px;
    border:none;
    border-radius:10px;
    background-color:#FF2B51;
    color:#fff;
    margin-left: 26px;
    outline: none;
}
